.checkoutMain {
    display:flex;
    justify-content: center;
    padding: 10vw;
    width: 100%;
    height: 100vh;
    background: linear-gradient(crimson,yellow);
    position: relative;
}

.bgAnimate {
    animation-name: bg-anim;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}
.smallScreen {
    position: absolute;
    left: 2vw;
    right: 2vw;
    top: 4vh;
}

@keyframes bg-anim {
    0%{background: linear-gradient(rgba(199, 26, 60, 0.64), rgba(183, 27, 27, 0.85));}
    5%{background: linear-gradient(rgba(220, 20, 133, 0.56), rgba(255, 30, 0, 0.78));}
    10%{background: linear-gradient(rgba(220, 20, 173, 0.56), rgba(255, 68, 0, 0.78));}
    15%{background: linear-gradient(rgba(152, 17, 182, 0.55), rgba(255, 106, 0, 0.78));}
    20%{background: linear-gradient(rgba(170, 20, 220, 0.59), rgba(255, 115, 0, 0.73));}
    25%{background: linear-gradient(rgba(147, 20, 220, 0.59), rgba(255, 145, 0, 0.7));}
    30%{background: linear-gradient(rgba(100, 20, 220, 0.6), rgba(255, 166, 0, 0.69));}
    35%{background: linear-gradient(rgba(73, 20, 220, 0.53), rgba(255, 213, 0, 0.67));}
    40%{background: linear-gradient(rgba(50, 20, 220, 0.56), rgba(255, 234, 0, 0.7));}
    45%{background: linear-gradient(rgba(47, 20, 220, 0.6), rgba(208, 255, 0, 0.68));}
    50%{background: linear-gradient(rgba(20, 50, 220, 0.5), rgba(132, 255, 0, 0.73));}
    55%{background: linear-gradient(rgba(20, 83, 220, 0.55), rgba(17, 255, 0, 0.66));}
    60%{background: linear-gradient(rgba(20, 120, 220, 0.59), rgba(0, 255, 60, 0.65));}
    65%{background: linear-gradient(rgba(20, 167, 220, 0.55), rgba(0, 255, 166, 0.68));}
    70%{background: linear-gradient(rgba(34, 140, 189, 0.55), rgba(0, 166, 255, 0.68));}
    75%{background: linear-gradient(rgba(68, 157, 147, 0.55), rgba(0, 140, 255, 0.62));}
    80%{background: linear-gradient(rgba(77, 159, 114, 0.54), rgba(0, 102, 255, 0.68));}
    85%{background: linear-gradient(rgba(20, 220, 73, 0.59), rgba(0, 81, 255, 0.66));}
    90%{background: linear-gradient(rgba(20, 220, 23, 0.58), rgba(0, 34, 255, 0.62));}
    95%{background: linear-gradient(rgba(47, 220, 20, 0.56), rgba(64, 0, 255, 0.62));}
    100%{background: linear-gradient(rgba(110, 220, 20, 0.54), rgba(72, 0, 255, 0.62));}
}

.drop {
    transform: translateX(-150vw);
}

.orderCompleteLabel {
    font-family: Georgia, serif;
    color: whitesmoke;
    font-size: xxx-large;
    font-variant: all-small-caps;
    font-weight: bold;
    transition: all 5s;
}


.animate {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 1s;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.heading {
    font-size: x-large;
    font-family: Georgia, serif;
    color: whitesmoke;
    font-variant: all-small-caps;
}