.checkoutContainer {
    display:flex;
    padding: 10vw;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(crimson,yellow);
}

.cartContainer .inCart {
    font-size: xxx-large;
    font-family: Tahoma, monospace;
    color: whitesmoke;
    font-variant: all-small-caps;
}

.cartContainer .productsHolder {
    display: flex;
    height: fit-content;
}

.cartContainer .infoHolder {
    display: flex;
    justify-content: left;

}
.cartContainer .infoHolder label {
    font-size: xx-large;
    font-family: Tahoma, monospace;
    color: whitesmoke;
    font-variant: all-small-caps;
}

.cartContainer {
    transition: all 3s;
}

.drop {
    transform: translateX(-100vw);
}

.orderCompleteLabel {
    font-size: xxx-large;
    font-variant: all-small-caps;
    font-family: monospace;
    font-weight: bold;
    transition: all 5s;
    color: #61dafb;
}