.productPageContainer {
    max-height: 100vh;

}
.productPageMain Link {
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    background-image: linear-gradient(90deg, rgba(243, 109, 109, 0.2), rgba(203, 166, 74, 0.2));
    backdrop-filter: blur(10px);
    padding: 2vh;
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 3vh;

}

.productPageMain {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, darkred 20%, crimson, darkorange 60%, gold, bisque);
    overflow: scroll;
}

.productPageMain img {
    width: 40vh;
    height: 45vh;
}

.productPageMain label {
    text-align: center;
    padding-inline: 5vw;
    font-family: Tahoma, Algerian,monospace;
    margin: 2vh;
    justify-items: center;
    background-image: linear-gradient(90deg, rgba(243, 109, 109, 0.2), rgba(203, 166, 74, 0.2));
    backdrop-filter: blur(10px);
}


.foreground {
    z-index: 3;
}

.productPageMain .wave {
    z-index: 1;
    margin: 0;
    padding: 0;
    background-image: url("wave.png");
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
}

.productPageMain .wave.wave1 {
    animation: myAnimation 15s linear infinite;
}

.productPageMain .wave.wave2 {
    animation: myAnimation 30s linear infinite;
    animation-delay: -4s;
}
.productPageMain .wave.wave3 {
    animation: myAnimation 10s linear infinite;
    animation-delay: -5s;

}
.productPageMain .wave.wave4 {
    animation: myAnimation 5s linear infinite;
    animation-delay: -7s;

}

@keyframes myAnimation {
    0% {background-position-x: 0}
    100% {background-position-x: 1000px}

}