.Main {
    display: flex;
    justify-content: center;
}

.Main .foundLabel {
    background-image: linear-gradient(rebeccapurple, teal);
    text-shadow: 3px 3px 3px hotpink;
    z-index: 3;
    font-weight: bolder;
    font-style: italic;
    font-size: xxx-large;
    color: #beb860;
    position: sticky;
    left: 0;
    right: 0;
    top: 10px;
}